p{
   color:rgb(195, 0, 255) ;
   background-color: burlywood;
   text-align: center;
   div{
    height: 50px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    padding:25px;
    border: 5px solid rgb(40, 106, 34) ;
    margin-top: 20px;
          }       }