.container{
    height: 500px;
    width: 500px;
    background-color: rgb(226, 141, 237);
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    gap: 20px;

    
}
.item{
    height: 100px;
    width: 100px;
    background-color: rgb(199, 224, 118);
    border: 1px solid black;
    flex-shrink: 1;
}
.Item2{

    order: -1;
    flex-grow: 2;
    align-self: flex-end;
}